<!DOCTYPE html>
<html class="bg-white antialiased scroll-smooth" lang="fr">
  <head>
    <title><%= t('site.title') %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="<%= I18n.locale %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="<%= t('site.description') %>">
    <meta name="author" content="<%= data.site.author.name %>">
    <meta name="robots" content="index, follow">

    <link rel="canonical" href="https://csa-admin.org<%= t('site.path') %>">
    <link rel="alternate" hreflang="en" href="https://csa-admin.org">
    <link rel="alternate" hreflang="fr" href="https://csa-admin.org/acp">
    <link rel="alternate" hreflang="de" href="https://csa-admin.org/solawi">
    <link rel="alternate" hreflang="x-default" href="https://csa-admin.org">

    <script src="https://tinylytics.app/embed/VCNWP-XMyNphqWL6sBVi.js" defer="true"></script>

    <script type="application/ld+json">
      <%== data.site.jsonld.to_json %>
    </script>

    <%= auto_display_favicon_tags %>
    <%= stylesheet_link_tag 'site' %>

  </head>
  <body class="font-sans md:mx-auto md:max-w-7xl">
    <div class="wrapper mx-4 md:mx-12">
      <%= partial 'header' %>
      <main><%= yield %></main>
      <%= partial 'footer' %>
    </div>
  </body>
</html>
