<header class="my-6 md:my-12 flex flex-wrap md:flex-nowrap justify-between">
  <div class="flex items-center grow w-full md:w-fit justify-center md:justify-start">
    <%= inline_svg 'logo.svg', class: 'fill-current w-10 h-10 md:w-12 md:h-12', alt: t("logo_alt") %>
    <nav class="text-logo-green ml-3 font-bold text-2xl tracking-tight flex items-center">
      <span>
        <%= link_to "CSA", "/", class: "font-bold  #{"no-underline" unless I18n.locale == :en} decoration-2 hover:underline" %>
      </span>
      <span class="font-extralight text-base px-1 md:px-2">
        /
      </span>
      <span>
        <%= link_to "ACP", "/acp", class: "font-bold #{"no-underline" unless I18n.locale == :fr} decoration-2 hover:underline" %>
      </span>
      <span class="font-extralight text-base px-1 md:px-2">
        /
      </span>
      <span>
        <%= link_to "Solawi", "/solawi", class: "font-bold #{"no-underline" unless I18n.locale == :de} decoration-2 hover:underline" %>
      </span>
      <span class="ml-3">
        Admin
      </span>
    </nav>
  </div>

  <div class="flex items-center gap-4 w-full md:text-base md:w-fit mt-6 md:mt-0 justify-center md:justify-end">
    <%= link_to t('header.features'), '#features', class: 'text-gray-800 text-lg font-medium' %>
    <%= link_to t('header.demo'), '#contact', class: 'text-gray-800 text-lg font-medium' %>
    <%= link_to t('header.about'), '#about', class: 'text-gray-800 text-lg font-medium' %>
  </div>

  <div class="flex items-center gap-4 w-full md:text-base md:w-fit mt-6 md:mt-0 md:ml-16 justify-center md:justify-end">
    <%= link_to (inline_svg('envelope.svg', class: 'w-6 h-6 md:order-2 mr-2 md:mr-0 md:ml-2 mt-0.5', alt: t('email')) + content_tag(:strong, data.site.contact.email, class: 'font-semibold md:order-1')).html_safe, data.site.contact.email_link, class: 'flex items-center no-underline text-gray-800', title: t('email') %>
  </div>
</header
