<div id="pricing" class="section-anchor">
  <h2 class="section-heading">
    <%= t("pricing.title") %>
  </h2>
  <div class="section-body">
    <p class="text-center text-8xl font-semibold text-logo-green !mt-6">
      1<span class="text-6xl font-semibold">%</span>
    </p>
    <p class="text-center text-sm text-pretty text-gray-600 -mt-2">
      <%= t("pricing.subtitle") %>
    </p>
    <div class="mt-10 flex justify-center">
      <ul class="space-y-2 text-lg text-gray-700">
        <li class="pricing-check"><span><%= t("pricing.features_included") %></span></li>
        <li class="pricing-check"><span><%= t("pricing.emails") %></span></li>
        <li class="pricing-check"><span><%= t("pricing.support") %></span></li>
        <li class="pricing-check"><span><%= t("pricing.hosting") %></span></li>
        <li class="pricing-check"><span><%= t("pricing.security") %></span></li>
        <li class="pricing-check"><span><%= t("pricing.opencode") %></span></li>
      </ul>
    </div>
    <p class="mt-10 text-center text-pretty text-lg text-gray-600"><%= t("pricing.description") %></p>
    <p class="mt-1.5 text-center text-pretty text-lg text-gray-600 font-semibold"><%= t("pricing.description_bold") %></p>
  </div>
</div>
